body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a9bffc;
}

header {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.price-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(24, 15, 15, 0.1);
    padding: 30px;
    margin: 20px;
    flex: 1;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.price-card:hover {
    transform: scale(1.05);
}

.price-card img {
    max-width: 40%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.price-card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.price-card p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-card .currency {
    font-weight: bold;
    margin-right: 5px;
}

.price-card .unit {
    font-size: 14px;
    color: #888;
}

.price-card button {
    background-color: #d20de4;
    color: #0c0606;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.price-card button:hover {
    background-color: #0e5394;
}

#toggle-container {
    text-align: center;
    margin: 20px 0;
}

#toggle {
    appearance: none;
    width: 50px;
    height: 25px;
    background-color: #3498db;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

#toggle:checked {
    background-color: #03c022;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

#toggle:checked::before {
    transform: translateX(25px);
}

#toggle-container label {
    margin-left: 10px;
    font-size: 16px;
    color: #555;
}

#currency-toggle-container {
    text-align: center;
    margin: 20px 0;
}

#currency-toggle {
    appearance: none;
    width: 50px;
    height: 25px;
    background-color: #3498db;
    border-radius: 15px;h
    position: relative;
    cursor: pointer;
}

#currency-toggle:checked {
    background-color: #01b428;
}

#currency-toggle::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

#currency-toggle:checked::before {
    transform: translateX(25px);
}

#currency-toggle-container label {
    margin-left: 10px;
    font-size: 16px;
    color: #555;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}